@import "mixin";
@import "variables";
.main-tab {
  margin: 24px;
}
.card-tab {
  background-color: #ffffff;
  padding: 16px;
  margin-bottom: 0;
  box-shadow: 0px 4px 6px #0000003d;
}
.card-tab > div {
  margin-bottom: 16px;
}
label {
  color: #666666;
  //   font-size: 12px;
}
p {
  color: #222222;
  font-weight: 600;
  font-size: 16px;
}
.card-tab-header {
  @include flex(default, space-between, center);
}
.card-second-tab {
  @include flex(default, start, default);
  height: 41px;
}
.card-second-tab div:nth-child(2) {
  @include flex(default, space-between, end);
  padding-left: 16px;
  img {
    width: 18px;
    height: 20px;
  }
}
.card-second-tab div:nth-child(1) {
  @include flex(column, space-between, start);
  padding-right: 16px;
}

.details_header {
  margin-top: 20px;
  padding: 10px;
  background-color: #dbefff;
  box-shadow: 0px 4px 6px #0000003d;
  height: 40px;
  @include flex(default, space-between, center);
  margin-top: 0;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }
}

.application_form {
  @include flex(column, start, start);
  background-color: #ffffff;
  margin-top: 24px;
  box-shadow: 0px 4px 6px #0000003d;
  padding: 16px;
  font-size: 16px;
}

.preferences-box > label {
  margin-top: 18px;
}
.details_tab {
  background-color: #ffffff;
  @include flex(column, start, start);
  padding-top: 0px;

  li,
  p {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
  }
  li {
    margin: 5px;
  }
  label {
    color: #666666;
    font-size: 12px;
  }
  @include ul;
  div {
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid #666666;
    padding-top: 16px;
    &:last-child {
      border-bottom: none;
    }
  }
}

.rotated {
  transform: rotate(180deg);
}

details[open] > summary > img {
  transform: rotate(0deg);
}
