$light-White: #ffffff;
$box-shadow-color: #0000003d;
$sky-blue: #3ac7ec;
$light-green: #1f7a54;
$black-twe-opac: #00000012;
$black-font: #222222;
$cement-color: #1f2834;
$light-blue: #3c4e62;
$button-color: #3fd28b;
$lable-color: #666666;
$correct-logo-color: #18be2e;
$header-tag-color: #dbefff;
$hr-color: #eeeeee;
$left-color: #757575;
