@import "mixin";
@import "variables";

.succes_page {
  margin-top: 60px;
  @include dropshadow();
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: $card-color;
}

.success_container {
  padding: 0px 20px;
}

.success_tick_container {
  height: 100px;
  width: 100px;
  @include flex(row, center, center);
  border-radius: 50%;
  background-color: $primary-button-color;
  box-shadow: 0 4px 6px #00000029;
  opacity: 1;
  margin: 0 auto 0 auto;
  transform: translateY(-50%);
  .tick_img {
    width: 5.359rem;
    height: 4.941rem;
    filter: invert(98%) sepia(23%) saturate(0%) hue-rotate(224deg)
      brightness(102%) contrast(103%);
  }
}
.success_title_container {
  width: 100%;
  text-align: center;
  .success_title {
    margin: 0px;
  }
}

.button_container {
  padding: 10px;
  @include flex(row, center, center);
}
.linear_container {
  @include flex(column, start, start);
  gap: 9px;
}
.venue {
  gap: 2px;
}
