$primary-button-color: #3fd28b;
$button-text-color: #25313f;
$seperator-color: #00000012;
$card-color: white;
$drop-down-header-bg: #dbefff;
$link-text-color: #1f7a54;
$text-color: #222222;
$secondary-text-color: #666666;
$header-background: #1f2834;
$secondary-header-background: #3c4e62;
$header-accent: #31b9e4;
$background-color: #eeeeee;
$stage-active-background: $primary-button-color;
$stage-inactive-background: #757575;
$black: #000000;
$user-bg: #3c4e62;
$profile-upload-bg: #b5c5d4;
