@import "mixin";
@import "variables";
.listing_tab {
  font-family: Quicksand;
  margin: 0px 24px;
  &:last-child {
    margin-bottom: 30px;
  }
  .listing {
    position: relative;
    background-color: $card-color;
    @include dropshadow();
    padding: 16px;
    margin-top: 24px;
    label {
      font-size: 12px;
      color: $secondary-text-color;
    }
    p {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.expire {
  position: absolute;
  top: -10px;
  right: 8px;
  font-size: 12px;
  padding: 2px 8px;
  color: #d10107;
  background-color: #ffe4e6;
  border-radius: 2px;
}

.tab {
  @include flex(row, start, center);
  // padding: 10px 0px;
}
.vertical_tab {
  @include flex(column, default, start);
}
.job_role_container {
  @include flex(row, start, center);
  .img_container {
    border: 1px solid $black;
    margin-right: 8px;
    min-height: 24px;
    min-width: 24px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    img {
      object-fit: cover;
    }
  }
  .job_role_text {
    color: $link-text-color;
    margin: 0px;
    border-right: 1px solid $seperator-color;
    padding-right: 8px;
    margin-right: 8px;
  }
}
.date_time {
  p {
    padding-right: 8px;
    border-right: 1px solid rgba(0, 0, 0, 0.123);
  }
}
.city {
  padding: 0px 10px;
  padding-top: 20px;
  color: $secondary-text-color;
  @include flex(row, start, end);
  img {
    height: 18px;
    filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(21deg) brightness(97%)
      contrast(87%);
  }
}
.button_tab {
  width: 100%;
  padding-top: 20px;
  @include flex(row, center, center);
}
.special_note {
  border-radius: 9px;
  background: #eedd6b;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 500;
}

hr {
  height: 0px;
  width: 100%;
  border: none;
  border-top: 1px solid $seperator-color;
  margin: 16px 0px;
}
.margin {
  margin: 24px;
}
.apply_tab {
  width: 100%;
}
