.listing_tab {
  font-family: Quicksand;
  margin: 0px 24px;
}
.listing_tab:last-child {
  margin-bottom: 30px;
}
.listing_tab .listing {
  position: relative;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  padding: 16px;
  margin-top: 24px;
}
.listing_tab .listing label {
  font-size: 12px;
  color: #666666;
}
.listing_tab .listing p {
  font-size: 14px;
  font-weight: 600;
}

.expire {
  position: absolute;
  top: -10px;
  right: 8px;
  font-size: 12px;
  padding: 2px 8px;
  color: #d10107;
  background-color: #ffe4e6;
  border-radius: 2px;
}

.tab {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}

.vertical_tab {
  display: flex;
  justify-content: default;
  align-items: start;
  flex-direction: column;
}

.job_role_container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.job_role_container .img_container {
  border: 1px solid #000000;
  margin-right: 8px;
  min-height: 24px;
  min-width: 24px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}
.job_role_container .img_container img {
  -o-object-fit: cover;
     object-fit: cover;
}
.job_role_container .job_role_text {
  color: #1f7a54;
  margin: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.0705882353);
  padding-right: 8px;
  margin-right: 8px;
}

.date_time p {
  padding-right: 8px;
  border-right: 1px solid rgba(0, 0, 0, 0.123);
}

.city {
  padding: 0px 10px;
  padding-top: 20px;
  color: #666666;
  display: flex;
  justify-content: start;
  align-items: end;
  flex-direction: row;
}
.city img {
  height: 18px;
  filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(21deg) brightness(97%) contrast(87%);
}

.button_tab {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.special_note {
  border-radius: 9px;
  background: #eedd6b;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: 500;
}

hr {
  height: 0px;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.0705882353);
  margin: 16px 0px;
}

.margin {
  margin: 24px;
}

.apply_tab {
  width: 100%;
}

.main-tab {
  margin: 24px;
}

.card-tab {
  background-color: white;
  padding: 16px;
  margin-bottom: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
}

.card-tab > div {
  margin-bottom: 16px;
}

label {
  color: #666666;
}

p {
  font-weight: 600;
  font-size: 16px;
}

.card-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: default;
}

.card-second-tab {
  display: flex;
  justify-content: start;
  align-items: default;
  flex-direction: default;
  height: 41px;
}

.card-second-tab div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: default;
  padding-left: 16px;
}
.card-second-tab div:nth-child(2) img {
  width: 18px;
  height: 20px;
}

.card-second-tab div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding-right: 16px;
}

.details_header {
  margin-top: 20px;
  padding: 10px;
  background-color: #dbefff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: default;
  margin-top: 0;
  cursor: pointer;
}
.details_header img {
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
.details_header h3 {
  margin: 0px;
}

.application_form {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background-color: white;
  margin-top: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  padding: 16px;
  font-size: 16px;
}

.preferences-box > label {
  margin-top: 18px;
}

.details_tab {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 16px;
  padding-top: 0px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
}
.details_tab li {
  font-size: 14px;
  font-weight: 600;
  margin: 5px;
}
.details_tab label {
  font-size: 12px;
}
.details_tab div {
  padding-bottom: 16px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
  padding-top: 16px;
}
.details_tab div:last-child {
  border-bottom: none;
}

.rotated {
  transform: rotate(180deg);
}

details {
  position: relative;
}

details[open] > summary > img {
  transform: rotate(0deg);
}

.general-instruction-tab ul {
  list-style-type: "-";
}

.file_upload {
  padding-left: 8px;
}

.all_job > div:last-child > h4 {
  border: none;
  margin: 10px 0px;
}

.succes_page {
  margin-top: 60px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.success_container {
  padding: 0px 20px;
}

.success_tick_container {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 50%;
  background-color: #3fd28b;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
  margin: 0 auto 0 auto;
  transform: translateY(-50%);
}
.success_tick_container .tick_img {
  width: 5.359rem;
  height: 4.941rem;
  filter: invert(98%) sepia(23%) saturate(0%) hue-rotate(224deg) brightness(102%) contrast(103%);
}

.success_title_container {
  width: 100%;
  text-align: center;
}
.success_title_container .success_title {
  margin: 0px;
}

.button_container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.linear_container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 9px;
}

.venue {
  gap: 2px;
}

.login_container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.login_form {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  width: 490px;
  border-top: 4px solid #31b9e4;
  border-radius: 2px;
  grid-column: 2;
  background-color: white;
  padding: 20px 32px;
  margin-top: 50px;
  margin-bottom: 32px;
  border-radius: 2px;
  height: -moz-min-content;
  height: min-content;
  margin: 30px 0px;
}
.login_form h1 {
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.login_button {
  padding: 11px 70px;
  background-color: #3fd28b;
  color: #25313f;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  margin-top: 20px;
  cursor: pointer;
}
.login_button:focus {
  transform: scale(0.9);
}

.forgot_container {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}

.form_group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.register p {
  font-size: 12px;
}

.showpassword {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  z-index: 3;
  cursor: pointer;
  top: 10px;
}
.showpassword img {
  filter: invert(33%) sepia(75%) saturate(391%) hue-rotate(103deg) brightness(100%) contrast(92%);
  position: relative;
  top: 5px;
  padding-right: 5px;
  width: 20px;
}

.step_container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: default;
  flex-direction: row;
  position: relative;
  margin: 24px;
  padding: 10px;
}
.step_container .decoration {
  position: absolute;
  top: 50%;
  width: 90%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.0705882353);
  margin: 0px 24px;
  z-index: 0;
}

.step {
  background-color: inherit;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px 20px;
  z-index: 1;
}

.step .step_number {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 8px;
  background-color: #757575;
  color: white;
  font-size: 16px;
}
.step .step_number img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
}

.active .step_number {
  background-color: #3fd28b;
  color: black;
}

.step_title {
  padding: 0px 5px;
  font-size: 16px;
  font-weight: 500;
}

.create_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px;
  background-color: #3c4e62;
}
.create_container p {
  text-align: center;
  flex: 1;
  color: white;
}
.create_container .back_arrow {
  flex: 1;
}
.create_container .back_arrow img {
  transform: rotate(-90deg);
  filter: invert(68%) sepia(79%) saturate(365%) hue-rotate(95deg) brightness(91%) contrast(88%);
}
.create_container .action {
  flex: 1;
  display: flex;
  justify-content: end;
}

input[type=file],
input[type=image] {
  margin-left: -2px !important;
}
input[type=file]::-webkit-file-upload-button,
input[type=image]::-webkit-file-upload-button {
  display: none;
}
input[type=file]:hover,
input[type=image]:hover {
  cursor: pointer;
}

.upload_label {
  cursor: pointer;
  text-align: center;
  color: #1f7a54;
  font-size: 16px;
  margin-right: 10px;
}
.upload_label img {
  filter: invert(33%) sepia(75%) saturate(391%) hue-rotate(103deg) brightness(100%) contrast(92%);
  height: 20px;
  position: relative;
  top: 4px;
}

.profile_photo_display {
  width: 124px;
  border-radius: 50%;
  background-color: #b5c5d4;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_heading {
  background-color: #dbefff;
  font-weight: 500;
  margin: 24px 24px 0px 24px;
  padding: 20px 20px;
}

.container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0px 24px;
  padding: 24px 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
}

.educational_qualifications {
  display: grid;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  background-color: white;
  padding: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.col1 {
  grid-column: 1/span 1;
}

.col13 {
  grid-column: 1/3;
}

.col35 {
  grid-column: 3/5;
}

.select {
  width: 550px;
}

.professional_qualifications {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2392156863);
  background-color: white;
  padding: 16px;
}

@media only screen and (max-width: 768px) {
  .educational_qualifications {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .educational_qualifications .col1,
  .educational_qualifications .col13,
  .educational_qualifications .col35 {
    grid-column: 1/span 1;
  }
}
input[type=radio] {
  padding-left: 10px;
}

.static_input_label {
  padding-right: 24px;
}

fieldset {
  border: none;
}

.rows {
  display: flex;
  flex-direction: column;
}

.input_container {
  margin: 16px 0px;
}

.error_message {
  font-size: 12px;
  color: #d32f2f;
  font-weight: 500;
}

.input {
  display: flex;
  justify-content: default;
  align-items: default;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
}

.input + .input {
  margin-top: 10px;
}

.input_label {
  color: #666666;
  position: absolute;
  top: 20px;
  transition: all 0.3s;
}

.input_field {
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0705882353);
  font: inherit;
  font-size: 16px;
  line-height: 30px;
}

.input_field:focus,
.input_field:valid {
  outline: 0;
  border-bottom-color: rgba(0, 0, 0, 0.0705882353);
}

.input_field:focus + .input_label,
.input_field:valid + .input_label {
  color: #666666;
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  font-size: 12px;
  transform: translateY(-25px);
}

.static_input_label {
  color: #666666;
  font-size: 12px;
  font-weight: 500;
}

.checkbox {
  accent-color: #1f7a54;
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
}

.checkbox_label {
  color: #222222;
}

.radio_group {
  padding: 16px 0px;
}

.radio {
  accent-color: #1f7a54;
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
}

.radio_label {
  padding-right: 20px;
  color: #222222;
}

@font-face {
  font-family: Quicksand;
  src: url(../assets/Quicksand-VariableFont_wght.ttf);
}
#root {
  height: 100%;
  font-family: Quicksand;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Quicksand;
  color: #222222;
  background-color: #eeeeee;
}

label {
  color: #666666;
}

p {
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.head_body_footer {
  height: 100%;
  display: grid;
  grid-template-rows: 57px auto 57px;
}

.head_body {
  height: 100%;
  display: grid;
  grid-template-rows: 57px auto;
}

.header {
  width: 100%;
  height: 57px;
  background-color: #1f2834;
  display: flex;
  justify-content: default;
  align-items: center;
  flex-direction: row;
  border-bottom: 3px solid #31b9e4;
}
.header a {
  z-index: 1;
}

.header::before {
  content: "";
  background: url(../assets/header_pattern.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 57px;
  position: absolute;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.8;
}

.header_logo {
  padding: 0px 24px;
  width: 120px;
}

.user_profile {
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #3fd28b;
  background-color: #3c4e62;
  margin: 0px 20px;
  margin-left: auto;
  z-index: 1;
}
.user_profile h2 {
  color: white;
  padding: 5;
  margin: 5px 0px;
  text-align: center;
}
.user_profile .logout_button {
  display: none;
  position: absolute;
  top: 40px;
  right: -32px;
  width: 100px;
  text-align: center;
}
.user_profile:hover .logout_button {
  display: inline;
}

a {
  font-size: 14px;
  font-weight: 500;
  color: #1f7a54;
  text-decoration: none;
}

footer {
  margin-right: auto;
  margin-left: auto;
}
footer .links {
  display: flex;
  justify-content: center;
}
footer .links a {
  padding: 0px 10px;
}
footer .links .contact_us {
  border-left: 1px solid rgba(0, 0, 0, 0.0705882353);
}

.button {
  padding: 5px 20px;
  margin: 0px 10px;
  color: #25313f;
  text-decoration: none;
  background-color: #3fd28b;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.2392156863) 0 3px 5px;
  cursor: pointer;
}
.button:focus {
  transform: scale(0.9);
}

.half {
  width: 50%;
  padding: 10px 30px;
}

.full {
  width: 100%;
  padding: 10px 30px;
}

.display_none {
  display: none;
}

.pad {
  padding: 20px 0px;
}

.pad-top {
  padding-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.right_top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

h1 {
  font-size: 24px;
}

.disabled_btn {
  color: black;
  opacity: 0.5;
  cursor: not-allowed;
}

.apply {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .login_form {
    width: 275px;
  }
  .apply {
    margin: 0px;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    right: 0px;
    z-index: 100;
  }
  .all_job {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .all_job .job_role_container h4 {
    padding: 5px;
    margin: 0px;
    border: none;
  }
}
ul {
  padding: 0px;
}

.margin-top {
  margin-top: 20px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(36%) sepia(56%) saturate(533%) hue-rotate(103deg) brightness(95%) contrast(89%);
  width: 20px;
  height: 20px;
}

.date {
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0705882353);
  padding: 5px;
}

.date svg {
  filter: brightness(0) saturate(100%) invert(36%) sepia(88%) saturate(367%) hue-rotate(103deg) brightness(88%) contrast(87%);
}

.input_container .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(0px, 16px) scale(1);
}
.input_container .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  transform: translate(0px, -9px) scale(0.8);
}

fieldset {
  margin: 0px;
  padding: 0px;
}/*# sourceMappingURL=index.css.map */